<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Machine Problem 2–On Processor Management and Job Scheduling</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container input">
      <div class="input-contents">
        <h1>Input</h1>
        <form>
          Select a process file:
          <input type="file" id="input-file" />
          <button type="button" onclick="readFile()">Open File</button>
        </form>
      </div>
    </div>

    <div class="container output">
      <div class="input-contents">
        <h1>Output</h1>
      </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
